[Service]
ExecStart=/usr/bin/dotnet /opt/asynchronous/app/TargetApp.dll --urls=http://*:80
Environment=DOTNET_CLI_HOME=/tmp
Environment=ASPNETCORE_ENVIRONMENT={{ aspnetcore_environment }}
WorkingDirectory=/opt/asynchronous/app

[Install]
WantedBy=multi-user.target
